
[v-cloak] {
  display: none;
}

body{
  background-color: #efeff4;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

ul, ul > li {
  margin: 0;
  padding: 0;
}

input, img, a {
  cursor: pointer;
}

input {
  outline: none;
  padding-left: 10px;
  margin-bottom: 0;
  -webkit-appearance: none;
  transition: all .2s ease-out;
}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #4c4c4c;
  font-size: 14px;
  height: 100%;
}

.page-body {
  padding-top: 44px;
}

.main-body {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #efeff4;
  z-index: 70;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  background-color: #cd0005;
  padding: 0 10px;
  width: 100%;
  z-index: 99;
}

.color-theme{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &>span{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 10px;
  }

  &>span:first-child{
   background-color: #cd0005;
  }

  &>span:nth-child(2){
    background-color: #271618;
  }

  &>span:last-child{
    background-color: #e6007f;
  }

  .active{
    background: url("../assets/images/ok.png") 50% 50% no-repeat;
    background-size: 12px auto;
  }
}

.hasApp {
  margin-top: 5px;
}

.noApp {
  margin-top: -46px
}

.header-left {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .icon-menu {
    font-size: 27px;
    color: #fff;
  }
}

.header-drawer {
  .ivu-drawer-body {
    padding: 0;
  }

  .left-top {
    width: 100%;
    height: 160px;
    background: -webkit-gradient(linear, right top, left top, from(#ff3f3c), to(#ff4844));
    background: -webkit-linear-gradient(right, #ff3f3c, #ff4844);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .level {
    color: rgb(240, 226, 161);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    margin-left: 225px;
    margin-top: -15px;
  }

  .user-operate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 6px;

    & > span {
      min-width: 60px;
      padding: 0 8px;
      height: 25px;
      border: solid 1px #fff;
      color: #fff;
      border-radius: 20px;
      text-align: center;
      line-height: 25px;
    }

    & > div {
      color: #fff;
      font-weight: bold;
    }
  }

  .local {
    & > span {
      & > img {
        margin-right: 10px;
      }

      display: flex;
      align-items: center;
      justify-content: flex-start;
    }


    .el-input__inner {
      border: 0;
      text-align: right;
      padding-right: 35px;
    }

    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #666;
    padding: 0 5px 0 20px;
  }

  .left-center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px 10px 20px;

    & > a {
      display: flex;
      align-items: center;
      height: 36px;
      line-height: 36px;
      width: 100%;
      color: #666;

      & > img {
        margin-right: 25px;
      }
    }

    & > li {
      display: flex;
      align-items: center;
      height: 35px;
      line-height: 35px;
      width: 100%;
      color: #666;

      & > img {
        margin-right: 15px;
      }
    }
  }

  .myGame {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 14px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }
}

.header-middle {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.header-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;

  & > a {
    color: #fff;
  }

  .message {
    height: 32px;
    width: 32px;
    background: url("../assets/images/messageIcon@2x.png?__inline") 70% 70% no-repeat;
    background-size: 16px auto;
    display: flex;
  }

  .ivu-poptip-popper {
    left: inherit !important;
    right: 3px;
    min-width: 120px;
    width: 120px;

    .ivu-poptip-body {
      padding: 0;
    }
  }

  & li {
    height: 33px;
    line-height: 33px;
    padding-left: 37px;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
    text-align: left;

    & > a {
      color: #4c4c4c;
    }
  }

  .icon-kefu {
    color: #4c4c4c;
    background: url("../assets/images/msgkefu@2x.png?__inline") 9% 50% no-repeat;
    background-size: 20px auto;
  }

  .icon-qq {
    background: url("../assets/images/home/qq.png?__inline") 9% 50% no-repeat;
    background-size: 20px auto;
  }

  .icon-agent {
    background: url("../assets/images/home/daili.png?__inline") 9% 50% no-repeat;
    background-size: 20px auto;
  }

  .icon-line {
    background: url("../assets/images/home/line.png?__inline") 9% 50% no-repeat;
    background-size: 20px auto;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.el-carousel__indicator {
  padding: 12px 5px;
}

.el-carousel__button {
  width: 7px;
  height: 7px;
  background-color: #ccc;
  border-radius: 10px;
}

.container {
  margin-bottom: 46px;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #efeff4;
  z-index: 61;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-error {
  width: 100%;
  height: 100%;
  background: url("../assets/images/loading-error.png?__inline") 50% 50% no-repeat;
  background-size: 35px auto;
}

.img-error {
  width: 100%;
  height: 100%;
  background: url("../assets/images/img-error.png?__inline") 50% 50% no-repeat;
  background-size: 35px auto;
  background-color: #ccc;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
  background: url("../assets/images/close.png?__inline") 50% 50% no-repeat;
  background-size: 18px auto;
  cursor: pointer;
}

.cube-slide-dots {
  bottom: 7px;
}

.el-message {
  width: 80% !important;
}

.el-icon-loading {
  font-size: 18px;
}

.tmux {
  font-size: 12px;
  color: #ccc;
}

.save-btn {
  width: 80%;
  background-color: #cd0005;
  margin: 0 auto;
  margin-top: 20px;
}

.cube-btn_active {
  background-color: #cd0005!important;
}

.save-btn:active {
  opacity: 0.7;
  background-color: #cd0005 !important;
}

.cube-picker {
  z-index: 1001 !important;
}

.top-title {
  height: 45px;
  margin: 0 !important;
  line-height: 44px;
  background-color: #cd0005 !important;
  color: #fff !important;
  font-size: 14px !important;
  border-left: solid 1px #efeff4;
}

.main-panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  width: 100%;
}

.ivu-scroll-container {
  padding-bottom: 30px;
}

.no-list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url("../assets/images/score/nolist.png") 50% 50% no-repeat;
  background-size: 100px auto;
  z-index: 99;
  top: 44px;
  bottom: 0;
  background-color: #fff;
}

.ivu-select-visible .ivu-select-selection {
  box-shadow: inherit;
}

.interchange .ivu-select-placeholder {
  text-align: left;
  padding-left: 0 !important;
  font-size: 14px !important;
}

.interchange .ivu-select-selected-value {
  text-align: left;
  padding-left: 0 !important;
  font-size: 14px !important;
}

.el-form-item__label {
  white-space: nowrap;
}

.interchange .ivu-select-selection {
  border: 0;
}

.el-message-box {
  width: 85%!important;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc;
}


@media (max-width: 576px) {
  .model-alert {
    .ivu-modal {
      width: 280px !important;
      margin: 0 auto;
      margin-top: 20%;
    }
  }

  .ivu-modal {
    width: 250px !important;
    margin: 0 auto;
    margin-top: 25%;

    .ivu-modal-confirm-head {
      margin-top: -3px;
    }

    .ivu-modal-confirm-body {
      padding-top: 6px;
    }

    .ivu-modal-confirm-footer {
      margin-top: 16px;
    }

    .ivu-modal-content {
      border-radius: 3px;
    }

    .ivu-modal-body {
      padding: 10px;
    }

    .ivu-btn-primary {
      width: auto;
      height: 30px;
      line-height: 25px;
      padding: 0 15px;
    }
  }
}

@import "module/page-footer";
@import "module/home";
@import "module/login";
@import "module/discount";
@import "module/score";
@import "module/user";
@import "module/assestOverview";
@import "module/onlineDeposit";
@import "module/agent";
@import "module/game-container";

@import "dark";
@import "pink";
