.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  .login_top {
    width: 351px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
  
}
.login_main {
    width: 316px;
    height: 402px;
    margin: 30px auto;
    text-align: left;
    .logo {
      width: 59px;
	height: 59px;
	background-image: linear-gradient(0deg, 
		#6eaffa 0%, 
		#7276f7 100%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
     
      img {
        width: 35px;
      }
    }
    .welcome {
      font-family: PingFang SC;
      font-size: 24px;
      line-height: 22px;
      color: #303133;
      padding: 10px 0 ;
      font {
        color: #3d7eff;
      }
    }
    .text {
      font-size: 12px;
      color: #909399;
    }
    h3.title {
      height: 40px;
      line-height: 40px;
        font-size: 18px;
        color: #303133;
      }
    
    
}
    
  // }
  .container{
    position: relative;
  }
  .goBack{
    position: absolute;
    left: 20px;
    top: 1px;
    color: #333;
    font-weight: 700;
    font-size: 18px;
    height: 40px;
    //width: 25px;
    line-height: 40px;
  }
  .link-a{
    color: #0288d1;
    font-size: 12px;
    font-weight: 400;
  }

  .link-b{
    color: #0288d1;
    font-size: 14px;
    font-weight: 400;
  }

  .bottom-link{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 30px;
  }

  // .top {
  //   width: 100%;
  //   height: 232px;
  //   // background: url("../../assets/images/login/loginBg.jpg") 50% 50% no-repeat;
  //   // background-color: #d31d11;
  //   background-size: cover;
  // }

  .login-panel {
    padding: 0 30px;
  }

  .el-tabs__active-bar{
    //height: 2px;
    background-color: #c10005;
  }

  .el-tabs__item {
    color: #b2b2b2;
    font-size: 18px;
  }

  .el-tabs__item:hover, .el-tabs__item.is-active {
    color: #333333;
    font-size: 20px;
  }

  .el-tabs__nav-wrap::after {
    display: none;
  }

  .login-input{
    height: 34px;
    padding:5px 0px;
    border:0;
    border-bottom: solid 1px #f3f3f3;
    // padding-left: 45px;
    color:#333;
    outline: none;
    width: 65%;
  }

  .login-check{
    outline: none;
    height: 50px;
    line-height: 50px;
    border:0;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
  }

  .user{
    background: url("../../assets/images/login/user.png") 2% 50% no-repeat;
    background-size: 23px auto;
  }

  .pwd{
    background: url("../../assets/images/login/pwd.png") 2% 50% no-repeat;
    background-size: 23px auto;
  }
  .code{
    background: url("../../assets/images/login/code.png") 2% 50% no-repeat;
    background-size: 23px auto;
  }
  .phone{
    background: url("../../assets/images/login/mobile.png") 1% 50% no-repeat;
    background-size: 28px auto;
  }
  .btn-login{
    margin-top: 30px;
    border:0;
    width: 314px;
    height: 49px;
    background-color: #3d7eff;
    border-radius: 25px;
      font-size: 18px;
      color: #ffffff;
    
  }

  .eye{
    display: inline-block;
    // position: absolute;
    // right:0;
    // top: 0;
    // width: 100px;
    height: 34px;
    padding: 5px 0;
    border-bottom: solid 1px #f3f3f3
  }

  .bg-code{
    position: absolute;
    right:0;
    // top: 9px;
    bottom: 12px;
    width: auto;
    height: 30px;
    line-height: 30px;
    min-width: 80px;
    // background-color: #aaaaaa;
    // border-radius: 15px;
    color: #3d73ff;
    padding: 0 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

}
